<div class="container">
  <h1 class='text-center mt-5'>Those pets are lost 😿</h1>

  <div class="d-flex">
    <% @pets.each do |pet| %>
      <div class="card mr-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= pet.species %></h6>
          <p class="card-text"><%= pet.found_address %></p>
          <%= link_to "See details", pet_path(pet.id) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add a new pet", new_pet_path, class: 'btn btn-primary mt-5' %>
</div>
